{% extends 'base.html.twig' %}

{% block title %}Edit Menu{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold text-center text-blue-600 mb-6">Edit Menu</h1>

    <div class="bg-white shadow rounded p-8 max-w-lg mx-auto">
        {{ include('menu/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <div class="mt-6 text-center">
        <a href="{{ path('app_menu_index') }}" class="inline-block px-6 py-2 bg-gray-600 hover:bg-gray-700 text-white font-bold rounded transition ease-in-out duration-200">
            Back to List
        </a>
    </div>
{% endblock %}
